body {
    background-color: #83a1b5;
    margin: 0;
    /* overflow: hidden; */
}

.perfil {
    background-color: white;
    width: 21cm;
    height: 29cm;
    /* margin: 30px 25px 30px; */
    float: left;
}

.conteudo {
    float: left;
    margin-top: 15px;
    color: white;
}