* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1, h2, h3 {
    font-family: 'Bebas Neue';
}

.pagina {
    display: flex;
    width: 21cm;
    height: 29.7cm;
    background-color: rgb(207, 194, 119);
    margin: auto;
    padding: 32px;
}

/* container esquerdo */
.containerEsquerdo {
    position: relative;
    width: 50%;
    height: 100%;
    padding: 28px;
    background-color: #fff;
}

.moldura-imagem {
    border: 16px solid #fcec92;
}

.moldura-imagem img {
    width: 100%;
    display: block;
}

.containerEsquerdo h1, .containerEsquerdo h2, .containerEsquerdo p, .containerEsquerdo a{
    color: #d6c87b;
    position: relative;
}

.containerEsquerdo h1 {
    text-align: center;
    padding: 10px 10px 0;
    letter-spacing: 2px;
    font-size: 42px;
}

.estilo-hr {
    height: 7px;
    background-color: #e9da86;
    padding-top: 0;
    border: 0;
    position: relative;
}

.containerEsquerdo h2 {
    margin-top: 15px;
    letter-spacing: 2px;
}

.containerEsquerdo p, .containerDireito p, .hab, .disc {
    font-size: 18px;
}

/* marca d'água + contato / container esquerdo */
.marca-agua {
    position: absolute;
    transform: rotate(90deg);
    opacity: 0.16;
    margin: 585px -125px;
    max-width: 550px;
}

.contato ul {
    list-style: none;
    padding: 0;
    margin-top: 5px;
}

.containerEsquerdo a, .disc a {
    text-decoration: none;
}

.containerEsquerdo a:hover {
    text-decoration: underline;
}

.contato a {
    margin-top: 3px;
    padding: 8px;
    position: absolute;
}

.contato a:hover {
    background-color: #f7efc78e;
    border-radius: 8px;
}

.icone {
    width: 50px;
    padding: 0 5px;
    margin: 3px 0 0 -6px;
    opacity: 0.45;
}

/* container direito */
.containerDireito {
    width: 50%;
    height: 100%;
    padding: 0 28px;
    margin-left: 15px;
    color: white;
}

.containerDireito h3 {
    letter-spacing: 2px;
    font-size: 24px;
}

.containerDireito hr {
    height: 3px;
    border: 0;
    margin-bottom: 5px;
    background-color: white;
}

.box {
    border: 2px solid white;
    padding: 8px;
    margin-bottom: 22px;
}

.containerDireito h2 {
    font-size: 32px;
}

/* discografia + habilidades / container direito */
.disc a {
    color: white;
    padding: 5px;
    text-wrap: nowrap;
}

.disc, .hab ul {
    margin-left: -20px;
}

.disc li {
    list-style-type: none;
    margin-left: -23px;
}

.disc li, .hab li {
    padding: 2px 0;
}

.disc li:hover {
    background-color: #fcec9279;
    border-radius: 8px;
}

.disc li:first-child a {
    padding-right: 34px;
}
.disc li:nth-child(2) a {
    padding-right: 130px;
}
.disc li:nth-child(3) a {
    padding-right: 164px;
}
.disc li:nth-child(4) a {
    padding-right: 97px;
}
.disc li:nth-child(5) a {
    padding-right: 104px;
}

.hab {
    border: 2px solid white;
    margin-bottom: 22px;
    padding: 11.5px;
}

/* nominações container direito */
.premio ul{
    margin-left: -30px;

}
.premio li {
    padding: 10px 20px;
    list-style-type: none;
    border: 2px solid white;
    margin-left: -10px;
}

.premio a {
    color:#fcec92;
}

.premio li:nth-child(odd) {
    background-color: #fcec9241;
}

.normal cite {
    font-style: normal;
}